body {
    margin: 0;
    background: #f5f5f5b3;
    height: 100%;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
html{
    height: 100%;
}
#header {
    height: auto;
    margin: 0;
    background-color: #73a0c5;
}

#headerimg {
    color: wheat;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    text-align: center;
    background-color: #4a4a4a;
    height: 45px;
    line-height: 45px;
}

#selectActions, #mainActions, #zoomActions {
    display:none;
    width:25%;
    padding-left:54px;
    font-family: monospace;
}

#button-panel {
    height:20px;
}

#zoomActions {
    display: block;
}
#prod-line-title {
    float: right;
    text-align: right;
    color: #f9f4cc;
    font-family: monospace;
    padding-right: 10px;
}
#prod-line-message {
    color: #f9f4cc;
    font-family: monospace;
}

#toolbar_container {
    border: 7px solid #e7e6e6;
    padding: 0;
    overflow: auto;
}

#toolbar{
    padding-left: 10px;
}

#toolbar img:first-child {
    display: none;
}

#graph_container {
    padding: 5px;
    border: 7px solid #e7e6e6;
}

#graph {
    position:relative;
    width:100%;
    overflow:hidden;
    cursor:default;
    background-color: white;
}

#xml {
    width: 100%;
    display: none;
    font-size: 12px;
    font-family: monospace;
}

.mxToolbarMode {
    width: 60px;
    margin: 6px !important;
}

.mxToolbarModeSelected
{
    margin: 6px !important;
    width: 60px;
    border:2px #fdff00 solid !important;
    background-color: white !important;

    /*zooming image*/
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    position:relative;
    z-index:100;

    /*-webkit-box-shadow: -13px 10px 25px -2px rgba(0,0,0,1);*/
    /*-moz-box-shadow: -13px 10px 25px -2px rgba(0,0,0,1);*/
    /*box-shadow: -13px 10px 25px -2px rgba(0,0,0,1);*/
}

h4 {
    font-weight: 600;
}
/*Slide Open*/
#slide_background {
    transition: all 0.3s 0.3s;
}
#slide,
#slide_wrapper {
    transition: all 0.3s ease-out;
}
#slide {
    transform: translateX(0) translateY(-40%);
}
.popup_visible #slide {
    transform: translateX(0) translateY(0);
}
/*Slide Open*/
#contact_popup_background {
    transition: all 0.3s 0.3s;
}
#contact_popup,
#contact_popup_wrapper {
    transition: all 0.3s ease-out;
}
#contact_popup {
    transform: translateX(0) translateY(-40%);
}
.popup_visible #contact_popup {
    transform: translateX(0) translateY(0);
}

#page{
    margin: 0px auto;
}

.suggest_img{
    width: 80px;
    padding-right: 10px;
}

.graph_final{
    width:800px;
    height:600px;
    background-color: white;
    border:2px #3e1494 solid !important;
    margin: 30px;
    overflow:scroll;
}

/*Message boxes*/
.alert-box {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center
}

.success {
    color: #4a9e4b;
    background-color: #c9fdb4;
    border-color: #c7d8b8;
    display: none;
}

.failure {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: none;
}

.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    display: none;
}

/*Index page styles*/

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -50px 0; /* the bottom margin is the negative value of the footer's height */
    position: relative;
}

#side-bar, #main-panel {
    position: absolute;
    bottom: 0px;
    top: 65px;
    padding: 0;
    border: 7px solid #e7e6e6;
}
#side-bar {
    border-right: none;
}

/* Side bar structure panel */
#structure-container p{
    margin-top: 10px;
}
.structure-branch, .structure-section, .structure-prod-line {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px dashed black;
}
.structure-factory p:hover, .structure-branch p:hover, .structure-section p:hover, .structure-prod-line p:hover {
    cursor: pointer;
    color: #03a5dc;;
}
.structure-hide {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.structure-collapse {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
}

/* Main Panel */
#main-panel {
    /*left: 25%;*/
    text-align: left;
    padding: 0px;
    overflow: auto;
}

#green-panel {
    background: green;
    opacity: 0.4;
    height: 146px;
    width: 100%;
    position: absolute;
    transition: all 0.5s;
}

.action-btn {
    width: 100%;
    background: #899fff;
    border: 3px solid #9e9d9d;
    border-radius: 3px;
    margin: 10px 0px;
    font-weight: bold;
    color: white;
    text-align: left;
}
.action-btn:hover {
    box-shadow: 1px 1px 8px #5492a7;
}

.box-btn-row {
    /* height: 151px; */
    border-bottom: 3px dashed #eee;
    /* margin-bottom: 14px; */
    overflow-x: auto;
    padding: 10px;
}
.box-btn-row p {
    margin: 0 0 5px;
}

.box-btn-wrapper {
    width: 90px;
    height: 90px;
    margin: 5px 5px;
    float: left;
}
.box-btn {
    border: 2px solid #8c8b8b;
    color: white;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    font-size: 13px;
    transform: scale(1);
    transition: all 0.5s;
}
.active-up {
    transform: scale(1.1);
    background: #3ba5ff !important;
}
.active-down {
    transform: scale(0.8);
    opacity: 0.7;
}
.active-box-btn {
    background: #3ba5ff !important;
}

.factory, .branch, .section, .prod-line {
    background: #3871a2;
}
.factory:hover, .branch:hover, .section:hover, .prod-line:hover {
    background: #3ba5ff;
}

#branches, #sections, #prod-lines {
    display: none;
}

.edit-delete-container {
    position: relative;
    top: -90px;
    left: 50px;
    display: none;
}
.edit-delete-img:hover{
    cursor: pointer;
}
.edit-delete-img {
    background: #e2e2e2;
    border: 2px solid #8c8b8b;
    padding: 1px;
    margin-left: -2px;
}

/*Action forms*/
#action-form-background {
    z-index: 998;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    background-color: #cccccc;
    color: #aaaaaa;
    opacity: .5;
    filter: alpha(opacity = 50);
}
.action-form {
    border: 2px solid #8fb4b4;
    position: fixed;
    /*position in the middle of the page*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 0 16px 16px 16px;
    display: none;
    z-index: 999;
    filter: alpha(opacity = 50);
}
.input-box {
    border: 1px solid #adadad;
    padding: 3px 5px;
    float: right;
}
.submit-btn {
    float: right;
    margin-top: 10px;
    margin-left: 5px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border-top: none;
    text-align: left;
}

/* Production line editor */
.floating-form {
    border: 2px solid #718eb0;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 10px;
    background: white;
    width: 300px;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    z-index: 999;
    display: none;
}

.floating-form h3 {
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 20px
}

.red-close-x {
    float: right;
    cursor: pointer;
}

#item-model-name {
    height: 2.3rem;
}
#toolbox-item-category {
    width: 100%;
    font-size: 13px;
    border: 1px solid #4a4a4a;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 10px;
}
#toolbox-item-icon {
    width: 100%;
}
#add-toolbox-item-btn {
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    padding: 0 7px;
    background-color: #73a0c5;
    color: white;
}
#toolbox-item-icon-preview, #sensor-icon-preview{
    font-size: 12px;
    text-align: center;
    min-height: 128px;
}

#save-toolbox-item-btn {
    float: right;
    background: #718eb0;
    border: 1px solid #8b8b8b;
    color: white;
}
#save-prod-line-btn {
    background-color: #73a0c5;
    padding: 0 10px;
    height: 30px;
    line-height: 23px;
    margin-left: 15px;
}
#add-toolbox-item-form-error {
    color: red;
}

/* Styles for admin-user-manager */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #acceea;
}

.content-disable {
    pointer-events: none;
    opacity: 0.4;
}

label {
    font-weight: 100;
    margin-left: 3px;
    margin-bottom: 0;
}
.branch-check {
    margin-left: 50px !important;
}
.section-check {
    margin-left: 100px !important;
}
.prodline-check {
    margin-left: 150px !important;
}
.btn-default {
    background-color: #dcdcdc;
}